<app-header-home></app-header-home>

<div class="jumbotron bg-dark text-white">  
    <div class="container"> 

        <h3 class="display-4">Nosotros</h3>

    <p>Somos un sitio en el cual podras crear y publicar todas las ideas creativas.
       Podras almacenar imagenes y videos, para poder utilizarlos en futuros trabajos.
    </p>

    <h3 class="display-4">Misión</h3>

    <p>Contribuir con el aprendizaje a lo largo de la vida del talento humano a través de escenarios de formación de 
        carácter dinámico para la construcción del conocimiento y actividades de investigación comprometidas con los procesos de 
        transformación social necesarios para el avance y la innovación del quehacer educativo.
    </p>

    <h3 class="display-4">Visión</h3>

    <p>Ser un Blog líder a nivel nacional e internacional en la formación de profesionales investigadores en el ámbito del Diseño Instruccional
         y la Informática; caracterizado como un colectivo comprometido en la búsqueda permanente de la innovación educativa sustentada 
         en la apropiación crítica, la aplicación pertinente y la trascendencia del uso de las tecnologías para el desarrollo de ser humano.
    </p>
   </div>      
</div>  

<app-footer-home></app-footer-home>