<div class="container">
    
    <h1 align="center">Publicaciones</h1>
    <div class="row">
        <ng-container *ngFor="let p of productos">
            <div class="col-3">
                <div class="card">
                    
                    <img [src]="p.img" class="card-img-top" alt="Producto">
                    <div class="card-body">
                      <h5 class="card-title">Nombre:{{ p.nombre }}</h5>
                      <p class="card-text">Categoria:{{ p.precio }}</p>
                      <a class="btn btn-danger" (click)="eliminar()">Eliminar</a>
                    </div>
                  </div>
            </div>
        </ng-container>
        <div class="container">
            <div class="row">
              <div class="col text-center">
        <button type="button" class= "btn btn-dark" (click)="salir()">Salir</button>
       </div>
      </div>
     </div>
    </div>
</div>
