<nav class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          
        </button>
        <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="navbar-brand" routerLink="/registro" routerLinkActive="active">Registro</a>
        <a class="navbar-brand" routerLink="/acerca" routerLinkActive="active">Acerca de</a>      
        <a class="navbar-brand" routerLink="/contactos" routerLinkActive="active">Contactenos</a>            
      </div> 
    </div>
  </nav>
   
  <div class="container">
    <br>
    <br>
    <div class="jumbotron bg-dark text-white text-center">   
      <h3 class="display-4">Bienvenido</h3>
        <img src="assets/ublo.jpg" id="icon" alt="User Icon" />
        <p class="text-white mb-4">¡Un lugar comodo para tus ideas!</p>
    </div>  
    <router-outlet></router-outlet>
   
  </div><!-- /.container -->

<div ui-view></div>  
<app-footer-home></app-footer-home>